
a {
	transition: all 0.1s ease-in-out;
}

a:hover {
	text-decoration: none;
	filter: brightness(120%);
}

a.external {
	background-image: url("images/glyphicons-basic-152-square-new-window.svg");
	background-position: right;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	padding-right: 23px;
	color: #A86;
}

article {
	border-bottom: 1px dotted #AAA;
	display: grid;
	grid-template-columns: 40px auto 70px;
	align-items: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	padding: 3px 6px;
}

article a.url, article img, article .text {
	filter: drop-shadow(1px 1px 1px #FFF) drop-shadow(-1px 1px 1px #FFF) drop-shadow(1px -1px 1px #FFF) drop-shadow(-1px -1px 1px #FFF);
}

article a.url {
	display: block;
	font-size: 110%;
	font-weight: bold;
	grid-column-start: span 2;
}

article img.small {
	max-width: 32px;
	max-height: 32px;
	grid-row-start: span 2;
}

article .text {
	grid-column-start: 2;
	font-size: 90%;
	color: #555;
	word-break: break-all;
}

article .actions {
	grid-column-start: 3;
	text-align: right;
}

article .actions img {
	width: 32px;
	height: 32px;
	cursor: pointer;
}

@media all and (max-width: 600px) {
	article img {
		max-width: 100px;
		height: 50px;
	}
}

@media all and (min-width: 601px) {
	#content {
		text-align: center;
	}
	
	article {
		text-align: left;
		display: inline-grid;
		width: 450px;
		height: 85px;
		border: 1px dotted #AAA;
		border-radius: 10px;
		margin: 5px;
		overflow: hidden;
	}

	article img {
		max-width: 100px;
		height: 85px;
	}
}

body {
	margin: 0px;
}

#header {
	position: relative;
	background-color: #000;
	margin-bottom: 10px;
	color: #EEE;
	height: 58px;
}

#header img.logo {
	position: absolute;
	left: 5px;
	top: 5px;
	width: 48px;
	height: 48px;
}

#header h1 {
	position: absolute;
	left: 60px;
	top: 5px;
	margin: 0px;
	color: #EEE;
	padding: 5px;
	font-size: 16pt;
}

#header h2 {
	position: absolute;
	left: 60px;
	top: 28px;
	margin: 0px;
	color: #AAA;
	font-style: italic;
	padding: 5px;
	font-size: 10pt;
}

#header .toolbar {
	position: absolute;
	right: 5px;
	top: 5px;
}

.button {
	width: 24px;
	height: 24px;
	margin: 4px;
	cursor: pointer;
}

.loading {
	opacity: 0.5;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}


#about {
	margin: 10px;
	text-align: center;
	font-size: 130%;
}

#about .compare {
	display: flex;
	justify-content: center;
}

#about .compare .preview {
	background-color: #DDD;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;
	padding-top: 10px;
	width: 30%;
}

#about .compare img {
	max-width: 60%;
}

#about .compare label {
	display: block;
	background-color: #333;
	color: #FFF;
	margin-top: 5px;
	padding: 8px;
}

#footer {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	background-color: #DDD;
	font-size: 80%;
	color: #0009;
	padding: 10px;
	line-height: 1.5;
}

#footer .copyright {
	text-align: left;
}

#footer .terms {
	text-align: right;
}

.actions {
	margin: 0 auto;
	text-align: center;
}

.main_action {
	display: inline-block;
	margin: 10px;
	padding: 15px;
	background-color: #338833;
	font-weight: bold;
	color: #FFF !important;
}

.main_action img {
	height: 24px;
	margin-right: 6px;
	vertical-align: middle;
}

@media all and (max-width: 600px) {
	#about .compare {
		display: block;
	}

	#about img {
		/*max-width: 80%;*/
	}

	#about .compare .preview {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}


.disclaimer {
	font-size: 80%;
	opacity: 0.9;
}


#image_viewer {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 0%;
	height: 0%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 999;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

#image_viewer img {
	max-width: 98%;
	max-height: 98%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}


/*** PWA ***/

#install, #notifications {
	display: none;
}

.not_installed {
	display: none;
}
