article {
	border-bottom: 1px dotted #AAA;
	display: grid;
	grid-template-columns: 40px auto 70px;
	align-items: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	padding: 3px 6px;
}

article a.url, article img, article .text {
	filter: drop-shadow(1px 1px 1px #FFF) drop-shadow(-1px 1px 1px #FFF) drop-shadow(1px -1px 1px #FFF) drop-shadow(-1px -1px 1px #FFF);
}

article a.url {
	display: block;
	font-size: 110%;
	font-weight: bold;
	grid-column-start: span 2;
}

article img.small {
	max-width: 32px;
	max-height: 32px;
	grid-row-start: span 2;
}

article .text {
	grid-column-start: 2;
	font-size: 90%;
	color: #555;
}

article .actions {
	grid-column-start: 3;
	text-align: right;
}

article .actions img {
	width: 32px;
	height: 32px;
	cursor: pointer;
}

@media all and (max-width: 600px) {
	article img {
		max-width: 100px;
		height: 50px;
	}
}

body {
	margin: 0px;
}

#header {
	position: relative;
	background-color: #000;
	margin-bottom: 10px;
	color: #EEE;
	height: 58px;
}

#header img.logo {
	position: absolute;
	left: 5px;
	top: 5px;
	width: 48px;
	height: 48px;
}

#header h1 {
	position: absolute;
	left: 60px;
	top: 5px;
	margin: 0px;
	color: #EEE;
	padding: 5px;
	font-size: 16pt;
}

#header h2 {
	position: absolute;
	left: 60px;
	top: 28px;
	margin: 0px;
	color: #AAA;
	font-style: italic;
	padding: 5px;
	font-size: 10pt;
}

#header .toolbar {
	position: absolute;
	right: 5px;
	top: 5px;
}

.button {
	width: 28px;
	height: 28px;
	padding: 4px;
	cursor: pointer;
}